.confirm {
    margin-left: 40px;

    .header {
        display: flex;
        justify-content: space-around;

        div {
            font-weight: bold;
        }
    }

    .data {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        border: 1px solid #dddddd;
        padding: 8px;

        &:nth-child(even) {
            background-color: #dddddd;

        }
    }

    &__icon {
        font-size: 1.2rem;
        margin-right: 10px;
        text-align: center;

        &--delete {
            color: rgb(206, 41, 41);
            font-size: 1.4rem;
        }

        &--checked {
            color: rgb(14, 145, 14);

        }
    }

    .text-align {
        text-align: center;
        cursor: pointer;
    }
}