*{
    padding: 0;
    margin: 0;
   /*  box-sizing: border-box; */
    
}

.banner{
    height: 100vh;
    width: 100%;
    background-image: url(flowers-7998124_1920.jpg); 
    background-position: center;
    background-size: cover;  /* resmi tek ve düzgün oturmasını sağlar */
    
   
}
.menu-bar{
    background-color: rgb(49, 75, 67);
    display: flex;
    width: 100%;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    /* justify-content: space-between; */


}

.menu-bar ul {

    display: inline-flex ;
    list-style: none;
}

.menu-bar ul li {

    width: 100pv;
    margin: 10px;
    padding: 15px;
    

   
}

.menu-bar ul li a{

    text-decoration: none;
    color: black;
    padding: 15px;
    
  
}

.active,.menu-bar ul li a:hover{

   background-color: bisque;
   border-radius: 10px;
    
}
